In [7]:
import pandas as pd
import numpy as np

*Importamos datasets y creamos los dataframes*

In [9]:
amazon = pd.read_csv("./Datasets/amazon_prime_titles.csv")
amazon_df = pd.DataFrame(amazon)
amazon_df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [10]:
disney= pd.read_csv("./Datasets/disney_plus_titles.csv")
disney_df = pd.DataFrame(disney)
disney_df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

In [11]:
hulu = pd.read_csv("./Datasets/hulu_titles.csv")
hulu_df = pd.DataFrame(hulu)
hulu_df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

In [12]:
netflix = pd.read_json("./Datasets/netflix_titles.json")
netflix_df = pd.DataFrame(netflix)
netflix_df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,None,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,None,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",None,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,None,None,None,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,None,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

*Agregamos el nombre de las plataformas de cada dataframe, un ID para identificarlo*

In [13]:
dataframes = [amazon_df,disney_df,hulu_df,netflix_df]
platforms = ['Amazon', 'Disney', 'Hulu', 'Netflix']

for n, dataframe in enumerate(dataframes):
    dataframe['platform'] = platforms[n]

*Unimos los dataframes en un solo dataframe y quitamos las columnas que no vamos a utilizar*

In [14]:
#df = amazon_df.append([disney_df,hulu_df,netflix_df],ignore_index=True)
#The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

df = pd.DataFrame()
df = pd.concat([amazon_df,disney_df,hulu_df,netflix_df],ignore_index=True)
df.drop (columns=['country','description','date_added', 'director','rating','show_id'], inplace= True)
df

,type,title,cast,release_year,duration,listed_in,platform
0,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,113 min,"Comedy, Drama",Amazon
1,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,110 min,"Drama, International",Amazon
2,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,74 min,"Action, Drama, Suspense",Amazon
3,Movie,Pink: Staying True,"Interviews with: Pink, Adele, Beyoncé, Britney...",2014,69 min,Documentary,Amazon
4,Movie,Monster Maker,"Harry Dean Stanton, Kieran O'Brien, George Cos...",1989,45 min,"Drama, Fantasy",Amazon
...,...,...,...,...,...,...,...
22993,Movie,Zodiac,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",2007,158 min,"Cult Movies, Dramas, Thrillers",Netflix
22994,TV Show,Zombie Dumb,None,2018,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies",Netflix
22995,Movie,Zombieland,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",2009,88 min,"Comedies, Horror Movies",Netflix
22996,Movie,Zoom,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",2006,88 min,"Children & Family Movies, Comedies",Netflix
22997,Movie,Zubaan,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",2015,111 min,"Dramas, International Movies, Music & Musicals",Netflix

*Eliminamos los duplicados y contamos los nulos*

In [15]:
df.drop_duplicates(inplace=True)

In [16]:
df.isnull().sum()  #df.isnull().mean()

type               0
title              0
cast            5321
release_year       0
duration         482
listed_in          0
platform           0
dtype: int64

*Separamos los datos de la columna 'duration' en 'duration' y 'duration_type' (unidad de medida), ya que las duraciones de películas se presentan en minutos y las series en temporadas*

In [17]:
#creamos un nuevo df con la columna y la separamos en dos

split_duration = df.duration.str.split(" ", n=1, expand=True)
split_duration.rename(columns={0:'duration', 1:'duration_type'}, inplace= True)

In [18]:
#llenamos los nulos en ambas columnas segun corresponda

split_duration['duration'].fillna(0, inplace=True)
split_duration['duration_type'].fillna('No data', inplace=True)

In [19]:
split_duration.isnull().sum()

duration         0
duration_type    0
dtype: int64

In [20]:
#integramos las nuevas columnas al df

df['duration_2'] = split_duration['duration']
df['duration_type'] = split_duration['duration_type']
df.drop(columns=['duration'], inplace=True)
df.rename(columns={'duration_2':'duration'}, inplace=True)


df['duration'] = df['duration'].astype('int64')  #transformamos los datos de duración a integer
df

,type,title,cast,release_year,listed_in,platform,duration,duration_type
0,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,"Comedy, Drama",Amazon,113,min
1,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,"Drama, International",Amazon,110,min
2,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,"Action, Drama, Suspense",Amazon,74,min
3,Movie,Pink: Staying True,"Interviews with: Pink, Adele, Beyoncé, Britney...",2014,Documentary,Amazon,69,min
4,Movie,Monster Maker,"Harry Dean Stanton, Kieran O'Brien, George Cos...",1989,"Drama, Fantasy",Amazon,45,min
...,...,...,...,...,...,...,...,...
22993,Movie,Zodiac,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",2007,"Cult Movies, Dramas, Thrillers",Netflix,158,min
22994,TV Show,Zombie Dumb,None,2018,"Kids' TV, Korean TV Shows, TV Comedies",Netflix,2,Seasons
22995,Movie,Zombieland,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",2009,"Comedies, Horror Movies",Netflix,88,min
22996,Movie,Zoom,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",2006,"Children & Family Movies, Comedies",Netflix,88,min
22997,Movie,Zubaan,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",2015,"Dramas, International Movies, Music & Musicals",Netflix,111,min

*Llenamos los datos faltantes del resto del dataframe*

In [21]:
df.fillna('No data', inplace=True)

In [15]:
df

,type,title,cast,release_year,listed_in,platform,duration,duration_type
0,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,"Comedy, Drama",Amazon,113,min
1,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,"Drama, International",Amazon,110,min
2,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,"Action, Drama, Suspense",Amazon,74,min
3,Movie,Pink: Staying True,"Interviews with: Pink, Adele, Beyoncé, Britney...",2014,Documentary,Amazon,69,min
4,Movie,Monster Maker,"Harry Dean Stanton, Kieran O'Brien, George Cos...",1989,"Drama, Fantasy",Amazon,45,min
...,...,...,...,...,...,...,...,...
22993,Movie,Zodiac,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",2007,"Cult Movies, Dramas, Thrillers",Netflix,158,min
22994,TV Show,Zombie Dumb,No data,2018,"Kids' TV, Korean TV Shows, TV Comedies",Netflix,2,Seasons
22995,Movie,Zombieland,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",2009,"Comedies, Horror Movies",Netflix,88,min
22996,Movie,Zoom,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",2006,"Children & Family Movies, Comedies",Netflix,88,min
22997,Movie,Zubaan,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",2015,"Dramas, International Movies, Music & Musicals",Netflix,111,min

In [22]:
df.isnull().sum()

type             0
title            0
cast             0
release_year     0
listed_in        0
platform         0
duration         0
duration_type    0
dtype: int64

In [25]:
# Se crea una columna con un indice nuevo ya que la columna show_id que dropeamos al principio tenía datos repetidos
df["id"] = df.index+1
df

,type,title,cast,release_year,listed_in,platform,duration,duration_type,id
0,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,"Comedy, Drama",Amazon,113,min,1
1,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,"Drama, International",Amazon,110,min,2
2,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,"Action, Drama, Suspense",Amazon,74,min,3
3,Movie,Pink: Staying True,"Interviews with: Pink, Adele, Beyoncé, Britney...",2014,Documentary,Amazon,69,min,4
4,Movie,Monster Maker,"Harry Dean Stanton, Kieran O'Brien, George Cos...",1989,"Drama, Fantasy",Amazon,45,min,5
...,...,...,...,...,...,...,...,...,...
22993,Movie,Zodiac,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",2007,"Cult Movies, Dramas, Thrillers",Netflix,158,min,22994
22994,TV Show,Zombie Dumb,No data,2018,"Kids' TV, Korean TV Shows, TV Comedies",Netflix,2,Seasons,22995
22995,Movie,Zombieland,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",2009,"Comedies, Horror Movies",Netflix,88,min,22996
22996,Movie,Zoom,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",2006,"Children & Family Movies, Comedies",Netflix,88,min,22997
22997,Movie,Zubaan,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",2015,"Dramas, International Movies, Music & Musicals",Netflix,111,min,22998

In [28]:
#normalizamos los datos pasando a minúsculas para facilitar las consultas

df['type'] = df['type'].str.lower()
df['listed_in'] = df['listed_in'].str.lower()
df['platform'] = df['platform'].str.lower()
df['duration_type'] = df['duration_type'].str.lower()

In [29]:
#reordenamos las columnas reasignando el dataframe
df = df[['id', 'title', 'platform', 'type', 'listed_in','release_year', 'duration', 'duration_type', 'cast']]

#tambien se puede usar reindex

In [30]:
df

,id,title,platform,type,listed_in,release_year,duration,duration_type,cast
0,1,The Grand Seduction,amazon,movie,"comedy, drama",2014,113,min,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent"
1,2,Take Care Good Night,amazon,movie,"drama, international",2018,110,min,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar"
2,3,Secrets of Deception,amazon,movie,"action, drama, suspense",2017,74,min,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R..."
3,4,Pink: Staying True,amazon,movie,documentary,2014,69,min,"Interviews with: Pink, Adele, Beyoncé, Britney..."
4,5,Monster Maker,amazon,movie,"drama, fantasy",1989,45,min,"Harry Dean Stanton, Kieran O'Brien, George Cos..."
...,...,...,...,...,...,...,...,...,...
22993,22994,Zodiac,netflix,movie,"cult movies, dramas, thrillers",2007,158,min,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J..."
22994,22995,Zombie Dumb,netflix,tv show,"kids' tv, korean tv shows, tv comedies",2018,2,seasons,No data
22995,22996,Zombieland,netflix,movie,"comedies, horror movies",2009,88,min,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ..."
22996,22997,Zoom,netflix,movie,"children & family movies, comedies",2006,88,min,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma..."
22997,22998,Zubaan,netflix,movie,"dramas, international movies, music & musicals",2015,111,min,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan..."

*Pasamos el DF a MySQL para visualizarlo con mayor comodidad y realizar consultas, y también lo exportamos como .csv*

In [31]:
import pymysql
from sqlalchemy import create_engine

In [24]:
engine = create_engine('mysql+pymysql://root:TheKickInside1978@127.0.0.1/pi01')
#cast_df.to_sql('cast',con=engine,index=False,if_exists='replace')         #el nombre es el de la tabla

df.to_sql('content', con=engine)

NameError: name 'content' is not defined

In [32]:
df.to_csv('Datasets/content.csv',index=False)

*Creación y prueba de funciones*

In [35]:
def actores(plataforma, anio):
    cast = df[['platform','release_year','cast']]
    actores_list = cast.groupby(['platform','release_year'])['cast'].apply(lambda x: ','.join(x))

    actores = actores_list[plataforma][anio]
    actores = actores.split(',')
    actores_set = set(actores)

    masrepetido = ('', 0) 

    for actor in actores_set:
        cant = actores.count(actor)

        if actor != 'No data':
            if cant > masrepetido[1]:
                masrepetido = (actor,cant)

        
    return masrepetido
        
actores('netflix',2018)

(' Andrea Libman', 8)

In [37]:
def plataforma (plat):
    movies = df.loc[(df['platform']==plat) & (df['type']=='movie')].shape
    series = df.loc[(df['platform']==plat) & (df['type']=='tv show')].shape
    
    movies_cant = movies[0]
    series_cant = series[0]
       

    print(f'En la plataforma {plat} hay {movies_cant} peliculas y {series_cant} series')

plataforma('amazon')

En la plataforma amazon hay 7814 peliculas y 1854 series

In [39]:
def max_duracion (plat, year, dur):
  plat_year_dur = df.loc[(df['platform']==plat) & (df['release_year']==year) & (df['duration_type']==dur)] 
  
  plat_year_dur['duration'] = plat_year_dur['duration'].astype('float64')
  
  maximo = plat_year_dur['duration'].max()

  title = plat_year_dur['title'].loc[plat_year_dur['duration'] == maximo].values[0]

      
  if dur == 'min':
    return {f'La mayor duracion en la plataforma {plat} la tiene la pelicula {title} con {maximo} minutos'}
  else: 
    return {f'La mayor duracion en la plataforma {plat} la tiene la serie {title} con {maximo} temporadas.'}

max_duracion('netflix', 2019, 'min')

C:\Users\Mag\AppData\Local\Temp\ipykernel_13180\4120895010.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  plat_year_dur['duration'] = plat_year_dur['duration']

{'La mayor duracion en la plataforma netflix la tiene la pelicula The Irishman con 209 minutos'}

In [41]:
def get_listedin (genre):
    genre_df = df.loc[(df['listed_in'].str.contains(genre))&(df['listed_in'].str.contains(genre+' ')==False)]
    plat_genre = genre_df['platform'].value_counts()
    plat_genre = plat_genre[plat_genre == plat_genre.max()].index[0]
    rep_genre = genre_df['platform'].value_counts().max()
    message = f'La plataforma con más series o películas del género {genre} es {plat_genre} con {rep_genre} repeticiones'

    return {message}

get_listedin('horror')

{'La plataforma con más series o películas del género horror es amazon con 875 repeticiones'}